opencv-python~=4.6.0.37  # for usage with GStreamer, one has to compile OpenCV with its support turned on
PyYAML
filterpy
shapely
torch
more-itertools
pandas
requests
psutil
torchvision
#pip3 install --upgrade --force-reinstall torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
tqdm
seaborn